.cartas {
  margin: 1rem;
  padding: 0.5rem;
}

.boton {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1rem;
}

.contenedor-padre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titulo {
  font-size: large;
  font-size: 2rem;
  margin-bottom: 5rem;
}

footer {
 
  margin-top: 2rem;
}

h5 {
  font-size: 1.5rem;
  text-align: justify;
}

.descripcion {
  font-size: 1rem;
}
